<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/jquery-3.7.1.js"></script>
    <script defer src="/js/script.js"></script>
    <title>Login</title>
</head>

<body>
    <main id="acesso">
        <section id="acesso-usuario">
            <h2>Login</h2>
            <div>
                <label for="usuario-login">Nome</label><br>
                <input id="usuario-login" type="text">
            </div>
            <div>
                <label for="senha-login">Senha</label><br>
                <input id="senha-login" type="text">
            </div>

            <button class="bt-acessar" id="bt-acessar"><a id="link-acesso" href="">Acessar</a></button>
        </section>
    </main>
</body>

</html>