<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script defer src="/js/jquery-3.7.1.js"></script>
    <script defer src="./js/script.js"></script>
    <title>Produtos</title>
</head>

<body>
    <nav id="nav-bar">
        <h2 id="titulo-sistema">Ger Produto</h2>

        <div id="links-navegacao">
            <a href="/inicio">Tela Principal</a>
            <a href="/produtos">Produtos</a>
            <a href="/usuarios">Usuários</a>
        </div>
        <button id="bt-sair"><a id="link-saida" href="">SAIR</a></button>
    </nav>
    <main id="conteudo-principal">
        <section id="top-bar">
            <div id="identificacao-usuario">
                <h4 id="usuario">Usuario </h4>
                <span id="nome-usuario">Usuario01</span>
            </div>
            <div id="usuario-id">
                <h4 id="id">Id </h4>
                <span id="id-usuario">01</span>
            </div>
            <div id="permissoes">
                <h4 id="permisao-usuario">Permissões </h4>
                <span id="tipo-permissao">administrador</span>
            </div>
            <div id="data-acesso">
                <h4 id="data">data</h4>
                <span id="acesso-data">01/01/2023</span>
            </div>
        </section>

        <section id="listagem-produtos">

            <h2>Produtos</h2>
            <div id="acoes-produtos">
                <button class="bt-produtos" id="bt-cadastrar-pdt">Cadastrar Produto</button>
                <button class="bt-produtos" id="bt-cadastrar-rpc">Cadastrar Reposição</button>
                <button class="bt-produtos" id="bt-listar-pdt">Listar Produtos</button>
            </div>
            <div id="visualizacao-produtos">
                <select id="selecao-visualizacao">
                    <option value="Valor 0" selected>Selecione a Visualização</option>
                    <option value="Valor 1">Bebidas</option>
                    <option value="Valor 2">Pipocas</option>
                </select>
                <div id="total-produtos">
                    <span id="data">Total:<span id="contagem-produtos">01</span></span>
                </div>
            </div>
            <table id="tab-listagem-produtos">
                <thead>
                    <tr>
                        <th class="id">Id</th>
                        <th class="nome">Nome</th>
                        <th class="categoria">Categoria</th>
                        <th class="peso-tamanho">Peso</th>
                        <th class="fabricante">Fabricante</th>
                        <th class="acoes">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>Nome</td>
                        <td>Categoria</td>
                        <td>Peso</td>
                        <td>Fabricante</td>
                        <td class="icone-acao">
                            <img id="acao-editar" src="img/edit.svg">
                            <img id="acao-deletar" src="img/delete.svg">
                        </td>
                    </tr>
                </tbody>
            </table>

        </section>

        <section id="cadastro-produtos">
            <h3 id="titulo-cadastro-produto">Cadastrar Produto</h3>
            <div id="cadastro-dados-produto">
                <div>
                    <label for="nome-cad-produto">Nome</label>
                    <input class="nome-cad-produto" id="nome-cad-produto" type="text">
                </div>
                <select id="selecao-categoria-cad-produto">
                    <option value="Valor 0" selected>Selecione a Categoria</option>
                </select>
                <div>
                    <label for="peso-cad-produto">Peso</label>
                    <input class="peso-cad-produto" id="peso-cad-produto" type="text">
                </div>
                <select id="selecao-fabricante-cad-produto">
                    <option value="Valor 0" selected>Selecione a Fabricante</option>
                </select>
            </div>
            <div id="acoes-produtos">
                <button class="bt-produtos bt-cancelar-cad" id="bt-cancelar-cad">Cancelar</button>
                <button class="bt-produtos bt-cad" id="bt-cad-pdt">Cadastrar Produto</button>
            </div>
        </section>
        <section id="cadastro-reposicao">
            <h3 id="titulo-cadastro-reposicao">Cadastrar Reposiçaõ</h3>
            <div id="cadastro-dados-reposicao">
                <div>
                    <label for="nome-cad-reposicao">Nome</label>
                    <input class="nome-cad-reposicao" id="nome-cad-reposicao" type="text">
                </div>
                <select id="selecao-categoria-cad-reposicao">
                    <option value="Valor 0" selected>Selecione a Categoria</option>
                </select>
                <div>
                    <label for="peso-cad-reposicao">Peso</label>
                    <input class="peso-cad-reposicao" id="peso-cad-reposicao" type="text">
                </div>
                <select id="selecao-fabricante-cad-reposicao">
                    <option value="Valor 0" selected>Selecione a Fabricante</option>
                </select>
            </div>
            <div id="acoes-produtos">
                <button class="bt-produtos bt-cancelar-repo" id="bt-cancelar-repo">Cancelar</button>
                <button class="bt-produtos bt-repo" id="bt-cad-repo">Cadastrar Reposição</button>
            </div>
        </section>
        <section id="visualizacao-atualizacao-produtos">
            <h3 id="titulo-alterar-produto">Alterar dados do Produto</h3>
            <div id="alteracao-dados-produto">
                <div>
                    <label for="id-produto">Id</label>
                    <input class="id-produto" id="id-produto" type="text">
                </div>
                <div>
                    <label for="nome-produto">Nome</label>
                    <input class="nome-produto" id="nome-produto" type="text">
                </div>
                <select id="selecao-categoria-produto">
                    <option value="Valor 0" selected>Selecione a Categoria</option>
                </select>
                <div>
                    <label for="peso-produto">Peso</label>
                    <input class="peso-produto" id="peso-produto" type="text">
                </div>
                <select id="selecao-fabricante-produto">
                    <option value="Valor 0" selected>Selecione a Fabricante</option>
                </select>
            </div>
            <div id="acoes-produtos">
                <button class="bt-produtos bt-cancelar" id="bt-cancelar-att">Cancelar</button>
                <button class="bt-produtos bt-att" id="bt-atualizar-pdt">Atualizar Produto</button>
            </div>
        </section>
        <section id="exclusao-produto">
            <h3 id="titulo-exclusao-produto">Excluir Produto</h3>
            <div id="dados-exclusao-produto">
                <strong>Id:</strong><span></span>
                <strong>Nome:</strong>
                <strong>Categoria:</strong>
                <strong>Peso:</strong>
                <strong>Fabricante:</strong>
            </div>
            <div id="acoes-produtos">
                <button class="bt-produtos bt-cancelar" id="bt-cancelar-exclusao">Cancelar</button>
                <button class="bt-produtos bt-exclusao" id="bt-excluir-pdt">Ecluir Produto</button>
            </div>
        </section>
    </main>

</body>

</html>