<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script defer src="/js/jquery-3.7.1.js"></script>
    <script defer src="./js/script.js"></script>
    <title>Usuários</title>
</head>

<body>
    <nav id="nav-bar">
        <h2 id="titulo-sistema">Ger Produto</h2>

        <div id="links-navegacao">
            <a href="/inicio">Tela Principal</a>
            <a href="/produtos">Produtos</a>
            <a href="/usuarios">Usuários</a>
        </div>
        <button id="bt-sair"><a id="link-saida" href="">SAIR</a></button>
    </nav>
    <main id="conteudo-principal">
        <section id="top-bar">
            <div id="identificacao-usuario">
                <h4 id="usuario">Usuario </h4>
                <span id="nome-usuario">Usuario01</span>
            </div>
            <div id="usuario-id">
                <h4 id="id">Id </h4>
                <span id="id-usuario">01</span>
            </div>
            <div id="permissoes">
                <h4 id="permisao-usuario">Permissões </h4>
                <span id="tipo-permissao">administrador</span>
            </div>
            <div id="data-acesso">
                <h4 id="data">data</h4>
                <span id="acesso-data">01/01/2023</span>
            </div>
        </section>

        <section id="listagem-usuarios">

            <h2>Usuários</h2>

            <h3>Usuarios Cadastrados</h3>
            <div id="gerencia-usuarios">
                <div id="gerencia-tabela">
                    <table id="tab-listagem-usuarios">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Cargo</th>
                                <th>Permissões</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="u : ${usuarios}">
                                <td th:text="${u.id}"></td>
                                <td th:text="${u.nome}"></td>
                                <td th:text="${u.cargo}"></td>
                                <td th:text="${u.permissoes}"></td>
                                <td th:text="${u.status}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="acoes-usuarios">
                    <button class="bt-usuarios" id="bt-listar-usuario">Listar</button>
                    <button class="bt-usuarios" id="bt-adiciona-usuario">Adicionar</button>
                    <button class="bt-usuarios" id="bt-altera-usuario">Alterar Dados</button>
                    <button class="bt-usuarios" id="bt-inativo-usuario">Inativar Usuário</button>
                    <button class="bt-usuarios" id="bt-ativo-usuario">Ativar Usuário</button>
                </div>
            </div>

        </section>
        <section id="gerencia-acoes-usuarios">
            <div id="add-usuario">
                <h3 id="titulo-add-usuario">Adicionar Usuário</h3>
                <div id="informacoes-usuario">
                    <div id="textos-cad-usuario">
                        <div>
                            <label for="nome-usuarios">Nome</label>
                            <input class="nome-usuarios" id="nome-usuarios" type="text">
                        </div>
                        <div>
                            <label for="senha-usuario">Senha</label>
                            <input class="senha-usuario" id="senha-produto" type="text">
                        </div>
                        <div>
                            <label for="confirmacao-senha">Conrfime a Senha</label>
                            <input class="confirmacao-senha" id="confirmacao-senha" type="text">
                        </div>
                    </div>
                    <div id="selecoes-cad-usuario">
                        <select id="selecao-cargo">
                            <option value="Valor 0" selected>Selecione o Cargo</option>
                        </select>
                        <select id="selecao-permissao">
                            <option value="Valor 0" selected>Selecione a Permissão</option>
                        </select>
                        <select id="selecao-status">
                            <option value="Valor 0" selected>Selecione o Status</option>
                        </select>
                    </div>
                </div>
                <div id="acoes-produtos">
                    <button class="bt-produtos bt-cancelar" id="bt-cancelar-adicao">Cancelar</button>
                    <button class="bt-produtos bt-add-usuario" id="bt-add-usuario">Adicionar Usuário</button>
                </div>
            </div>
            <div id="atualiza-usuario">
                <h3 id="titulo-atualiza-usuario">Atualizar Usuário</h3>
                <div id="informacoes-usuario-atualizada">
                    <div id="textos-att-usuario">
                        <div>
                            <label for="nome-usuarios">Nome</label>
                            <input class="nome-usuarios" id="nome-usuarios" type="text">
                        </div>
                        <div>
                            <label for="senha-usuario">Senha</label>
                            <input class="senha-usuario" id="senha-produto" type="text">
                        </div>
                        <div>
                            <label for="confirmacao-senha">Conrfime a Senha</label>
                            <input class="confirmacao-senha" id="confirmacao-senha" type="text">
                        </div>
                    </div>
                    <div id="selecoes-att-usuario">
                        <select id="selecao-cargo">
                            <option value="Valor 0" selected>Selecione o Cargo</option>
                        </select>
                        <select id="selecao-permissao">
                            <option value="Valor 0" selected>Selecione a Permissão</option>
                        </select>
                        <select id="selecao-status">
                            <option value="Valor 0" selected>Selecione o Status</option>
                        </select>
                    </div>
                </div>
                <div id="acoes-produtos">
                    <button class="bt-produtos bt-cancelar" id="bt-cancelar-att">Cancelar</button>
                    <button class="bt-produtos bt-att-usuario" id="bt-att-usuario">Atualizar Usuário</button>
                </div>
        </section>
    </main>

</body>

</html>